<div class="container">
	<div class="row">
		<div>
			<h3>Новая школа</h3>
	 	</div> 
		<div class="col-sm-4">
			
			<%= render partial: "form"%>
		</div>
		<div class="col-sm-8">
			<div class="panel-body pad-0" id="map_canvas" style="height:412px;"></div>
		</div>
 	</div>
	<div class="row">
		<div>
			<h3>Школы</h3>
		</div>
		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Название школы</th>
		      <th scope="col">Компания</th>
		      <th scope="col">Адрес</th>
		      <th scope="col"></th>
		      <th scope="col"></th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% @schools.each do |school| %>
			    <tr>
			      <th scope="row"><%= school.id %></th>
			      <td><%= school.name %></td>
			      <td><%= school.company.name %></td>
			      <td><%= school.full_address_rus %></td>
			      <td><%= link_to edit_school_path(school), :remote=>true do %> 
						  edit
				 	  <% end %>
				  </td>
				  <td><%= link_to school_path(school), 
				  			:method => 'delete', 
				  			 data: { confirm: 'Удалить школу "'+school.name+'"?' } do 
				  	   %> 
						  delete
				 	  <% end %>
				  </td>
			    </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
    $( document ).ready(function() {

        handler =  Gmaps.build('Google');
	    handler.buildMap({ provider: {}, internal: 
	    	{
	    		id: 'map_canvas', 
	    	}}, function(){});

	    if (navigator.geolocation) {
		    navigator.geolocation.getCurrentPosition(function(position){

		    	var pos = {
	              lat: position.coords.latitude,
	              lng: position.coords.longitude
	            };
	            map = handler.getMap();
	            map.setCenter(pos);
	            map.setZoom(10);
	            map.setOptions({draggableCursor: 'default'});
		    });
		} else {
		    console.log("Geolocation is not supported by this browser.");
		}
		markers = [];
		google.maps.event.addListener(handler.getMap(), 'click', function(event) {
		    if(markers.length > 0) {
		    	handler.removeMarkers(markers);
		    }
		    markers = handler.addMarkers([
		      {
		        "lat": event.latLng.lat(),
		        "lng": event.latLng.lng()
		      }
		    ],
		      {
		    	draggable: true,
		    	animation: google.maps.Animation.DROP,
		    	cursor: 'grab',
		    	draggingCursor: 'grabbing'
		      }
		    );
		    //alert(markers[0].position.lat());
		    google.maps.event.addListener(markers[0], 'dragend', function(event) {
		    	alert(1);
		    	//$("#school_latitude").val(event.position.lat());
		    	//$("#school_longitude").val(event.position.lng());
		    });
		    params = {map_pos: event.latLng.lat()+","+event.latLng.lng()};
		    $("#school_latitude").val(event.latLng.lat());
		    $("#school_longitude").val(event.latLng.lng());
			$.get('/schools/get_addr_by_pos', params);
		});
    });


  </script>

<script type="text/javascript">
	window.addEventListener("keydown", function(e) {
	    // space and arrow keys
	    if([32, 38, 40].indexOf(e.keyCode) > -1) {
	        e.preventDefault();
	    }
	}, false);
</script>

<script type="text/javascript">

	var prevInputVal = "";
	var typingTimer;              
	var doneTypingInterval = 1000;


	$("#typeahead").on("change paste keyup", function(event) {
	   	
	   	clearTimeout(typingTimer);

		var keycode = (event.keyCode ? event.keyCode : event.which);
		
		if(keycode == '40' && $(this).next().find('a').length > 0){
			$(this).next().find('li:first a').focus();
			$('#typeahead').val($.trim($(this).next().find('li:first a').text()));
		}
	   	else if($("#typeahead").val().length >= 2 && prevInputVal != $("#typeahead").val() && [37, 39].indexOf(event.keyCode) == -1) {
	   		typingTimer = setTimeout(function(){
	   			prevInputVal = $("#typeahead").val();
		   		params = {term: $("#typeahead").val()};
				$.get('/schools/autocomplete', params);
		 	},doneTypingInterval);
		}
	});

  	$(document.body).on('click', '#dropdown-addr-sugest li a' ,function(event){
	    event.preventDefault();
	    $('#typeahead').val($.trim($(this).text()));
	});


	$(document.body).on('keyup', '#dropdown-addr-sugest li' ,function(event){
		var keycode = (event.keyCode ? event.keyCode : event.which);
	    if(keycode == '40' && $(this).next().find('a').length > 0){
			$(this).next().find('a').focus();
			$('#typeahead').val($.trim($(this).next().text()));
		}
		if(keycode == '38' && $(this).prev().find('a').length > 0){
			$(this).prev().find('a').focus();
			$('#typeahead').val($.trim($(this).prev().text()));
		}
	});
</script>
