<div class="container  pad-top-bot-50">
 <div class="row"> 
 	<div class="col-lg-8">
		<div class="panel panel-default">
	       <div class="panel-heading"><h3 class="panel-title">Поиск на карте</h3></div>
	       <div class="panel-body pad-0" id="map_canvas" style="height:412px;">
	       </div>
	     </div>
 	</div>
	<div class="col-lg-4">
		<div class="panel panel-default">
	       <div class="panel-heading">Выбор программы</div>
	       <div class="panel-body">
	       	<div class="col-lg-8">
	       		<%= select_tag :language_id, 
	       		options_for_select([ "Курсы английского", "Подготовка к экзаменам","Учебный семестр/год", "Учеба/работа" ], "Курсы английского"), 
	       		:class=>"selectpicker", :data=>{:style=>"btn-info"} %>
	       	</div>
	       	<div class="col-lg-4">
	       		<%= link_to "", :class=>"btn btn-success" do %>
	       			Поиск
	       		<% end %>
	       	</div>
	       </div>
	     </div>
		<div class="panel panel-default">
	       <div class="panel-heading">Выбор стран</div>
	       <div class="panel-body">
	       	<div class="col-lg-6">
		         <div class="checkbox">
		         	<label><input type="checkbox"> Австралия</label>
		         </div>
		         <div class="checkbox">
		            <label><input type="checkbox"> Америка</label>
		         </div>
		         <div class="checkbox">
		            <label><input type="checkbox"> Великобритания</label>
		         </div>
		         <div class="checkbox">
		            <label><input type="checkbox"> Германия</label>
		        	</div>
		      </div>
		      <div class="col-lg-6">
		        	<div class="checkbox">
		            <label><input type="checkbox"> Мальта</label>
		         </div>
		         <div class="checkbox">
		            <label><input type="checkbox"> Новая зеландия</label>
		         </div>
		         <div class="checkbox">
		            <label><input type="checkbox"> Франция</label>
		         </div>
					<div class="checkbox">
		            <label><input type="checkbox"> ЮАР</label>
		         </div>
		      </div>
	       </div>
	     </div>
	     
	     <div class="panel panel-default">
	       <div class="panel-heading">Предполагаемое время поездки</div>
	       <div class="panel-body">
	       <div class="col-lg-6">
	       	<div class="input-group" id='datetimepicker1'>	      
			      <input type="text" class="form-control date pad-0">
			      <span class="input-group-btn">
                	<button class="btn btn-info" type="button">
							<span class="glyphicon glyphicon-calendar"></span>                	
                	</button>
              	</span>
			   </div>
			  </div>
			  <div class="col-lg-6">
			   <div class="input-group" id='datetimepicker2'>	      
			      <input type="text" class="form-control date pad-0">
			      <span class="input-group-btn">
                	<button class="btn btn-info" type="button">
							<span class="glyphicon glyphicon-calendar"></span>                	
                	</button>
              	</span>
			   </div>
			  </div>
	       </div>
	     </div>
	     
 	</div> 
 </div>
 <div class="row">
 	<div class="col-lg-12">
	 	<div class="panel panel-default">
	       <div class="panel-heading">
	         <h3 class="panel-title">Результаты поиска</h3>
	       </div>
	   </div>
   
 	   <div class="panel panel-default">
 	  		<div class="panel-body course-item">
    			<div class="col-lg-2 pad-left-0">
    				<div style="width:100%; margin-bottom: 15px;">
    					<div class="comp-logo">
    						<%= image_tag('eflogo.png', :class=>"row-h-30") %>
    						English First
						</div>    				
    				</div>
    				<%= image_tag('00.jpg', :style=>"width: 100%;") %>
    			</div>
    			<div class="col-lg-8">
    				<div class="well course-item-well ">
    					<h4>Школа: Kaplan London Covent Garden</h4>
    					<p>Язык: Английский</p>
    					<p>Продолжительность: от 2 до 12 недель</p>
    					<p>Минимальный уровень языка: Intermediate</p>
    				</div>
    				<div class="well course-item-well mar-bot-0">
    					<p>Страны: Америка, Мальта</p>
    				</div>
    			</div>
				<div class="col-lg-2 pad-right-0">
					<div class="well course-item-well">
						<h4>от $230</h4>
					</div>
					<%= link_to "Подробнее", course_path(1), :class=>"btn btn-success btn-block" %>
					<button type="submit" class="btn btn-info btn-block">Заказать</button>
    			</div>
  			</div>
 	  </div>  
 	  
 	  <div class="panel panel-default">
 	  		<div class="panel-body course-item">
    			<div class="col-lg-2 pad-left-0">
    				<div style="width:100%; margin-bottom: 15px;">
    					<div class="comp-logo">
    						<%= image_tag('eflogo.png', :class=>"row-h-30") %>
    						English First
						</div>    				
    				</div>
    				<%= image_tag('00.jpg', :style=>"width: 100%;") %>
    			</div>
    			<div class="col-lg-8">
    				<div class="well course-item-well ">
    					<h4>Подготовка к TOEFL</h4>
    					<p>Язык: Английский</p>
    					<p>Продолжительность: от 2 до 12 недель</p>
    					<p>Минимальный уровень языка: Intermediate</p>
    				</div>
    				<div class="well course-item-well mar-bot-0">
    					<p>Страны: Америка, Мальта</p>
    				</div>
    			</div>
				<div class="col-lg-2 pad-right-0">
					<div class="well course-item-well">
						<h4>от $230</h4>
					</div>
					<button type="submit" class="btn btn-success btn-block">Подробнее</button>
					<button type="submit" class="btn btn-info btn-block">Заказать</button>
    			</div>
  			</div>
 	  </div>  
 	  
 	</div>
 </div>
 </div>
 <script type="text/javascript">
      $( document ).ready(function() {
           $('#datetimepicker1').datetimepicker({
                    language: 'ru',
                    pickTime: false,
                    useCurrent: true
           });
           $('#datetimepicker2').datetimepicker({
                    language: 'ru',
                    pickTime: false,
                    useCurrent: true
           });
      });
  </script>
 
  <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAYVxHwPxj8iSGj3rqD2sWEEUcCF2mSxI4&sensor=true">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(0.1768697,37.9083264),
          zoom: 2,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>