<div class="container  pad-top-bot-50">
 <div class="row"> 
 	<div class="col-lg-9">
		<div class="panel panel-default">
	       <div class="panel-heading"><h3 class="panel-title">Школа</h3></div>
	       <div class="panel-body panel-grey">
				  <div class="row col-lg-6">
				   <!--div class="row"-->
				  		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
					    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
						 <li data-target="#carousel-example-generic" data-slide-to="3"></li>		
					  </ol>
					
					  <!-- Wrapper for slides -->
					  <div class="carousel-inner">
					    <div class="item active">
					      <%= image_tag "EC_1.jpg", :class=>"img-responsive" %>
					      <div class="carousel-caption">
					      </div>
					    </div>
					    <div class="item">
					      <%= image_tag "EC_2.jpg", :class=>"img-responsive" %>
					      <div class="carousel-caption">
					      </div>
					    </div>
					    <div class="item">
					      <%= image_tag "EC_3.jpg", :class=>"img-responsive" %>
					      <div class="carousel-caption">
					      </div>
					    </div>
					    <div class="item">
					      <%= image_tag "EC_4.jpg", :class=>"img-responsive" %>
					      <div class="carousel-caption">
					      </div>
					    </div>
					  </div>
					
					  <!-- Controls -->
					  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
					    <span class="glyphicon glyphicon-chevron-left"></span>
					  </a>
					  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
					    <span class="glyphicon glyphicon-chevron-right"></span>
					  </a>
					</div>
					<!--/div-->
				  </div>
	       	 <div class="row col-lg-6 mar-left-20">
	       	 		<div class="panel panel-default">
	       	 			<div class="panel-body pad-0 panel-grey">
	       	 				<%= image_tag "ec_logo.gif",  :class=>"col-md-3" %>	
       	 					<h3 class="mar-0 col-md-9">Kaplan London Covent Garden</h3>
	       	 			</div>
	       	 		</div>
	       	 		<div class="panel panel-default">
	       	 			<div class="panel-body panel-grey">
       	 					<p>
       	 						<span class="glyphicon glyphicon-pencil">
       	 							<span style="text-decoration:underline">Описание: </span>
       	 						</span> 
       	 						Школа находится в старинном здании в нескольких минутах пешком от центра этого квартала, 
									магазинов на Оксфорд стрит и Британского музея, поэтому в свободное время вам не придется скучать.       	 					
       	 					</p>	
								<p>
									<span class="glyphicon glyphicon-map-marker">
										<span style="text-decoration:underline">Место: </span>
									</span> 								
									Лондон, Великобритания
								</p>
								<p>
									<span class="glyphicon glyphicon-bullhorn">
										<span style="text-decoration:underline">Языки: </span>
									</span> 								
									Английский
								</p>
	       	 			</div>
	       	 		</div>
	       	 </div>
	       	 <div class="row">
	       	 		<div class="well panel-grey">
							<p>
								Колледж имеет впечатляющее международное сообщество, широкий спектр курсов,
								прекрасные условия обучения и фантастическое расположение в столице мирового класса
								с чем-то, чтобы удовлетворить всем вкусам.
							</p>
							<p>
								Лондон предлагает насыщенную ночную жизнь, потрясающей архитектурой, красивые парки, 
								интернациональной кухни и лучшие музеи и галереи. С его 
								модные клубы и бары и всемирно известные театры, несколько городов могут предложить 
								посетителей таких разнообразных вещей, чтобы увидеть и сделать в одном месте.
							</p>
		 					<p>
								Колледж расположен в историческом, перечисленных здании, построенном в 18-м 
								веке, который был полностью отремонтирован и модернизирован. Расположенный всего в 
								5-ти минутах ходьбы от Ковент-Гарден, колледж действительно находится в самом центре Лондона.
							</p>	  	       	 		
	       	 		</div>     	 
	       	 </div>
	       </div>
	    </div>
	    <div class="panel panel-default">
       	<div class="panel-heading">
				<span class="glyphicon glyphicon-star"> </span> Особенности</div>
       	<div class="panel-body panel-grey">
       		<div class="row">
					 <div class="col-lg-4">
		              <div class="alert alert-dismissable alert-warning">
		                <h4><span class="glyphicon glyphicon-ok"> Учебные классы</span></h4>
		                <ul>
		                	<li>15 классов для занятий</li>
		                	<li>в каждом до 15 студентов</li>
								<li>мультимедия</li>
		                </ul>
		              </div>
		          </div>
		          <div class="col-lg-4">
		              <div class="alert alert-dismissable alert-success">
		                <h4><span class="glyphicon glyphicon-ok"> Развлечения</span></h4>
		                <ul>
		                	<li>Экскурсии</li>
		                	<li>Театры и музеи</li>
								<li>Вечеринки</li>
		                </ul>
		              </div>
		          </div>
					 <div class="col-lg-4">
		              <div class="alert alert-dismissable alert-info">
		                <h4><span class="glyphicon glyphicon-ok"> Спорт</span></h4>
		                <ul>
		                	<li>занятия в парках</li>
		                	<li>футбол и тенис</li>
								<li>спортзал</li>
		                </ul>
		              </div>
		          </div>
					 <div class="col-lg-4">
		              <div class="alert alert-dismissable alert-danger">
		                <h4><span class="glyphicon glyphicon-ok"> Занятия</span></h4>
		                <ul>
		                	<li>библиотека</li>
		                	<li>книги и журналы</li>
								<li>аудио/видео уроки</li>
		                </ul>
		              </div>
		          </div>
		          <div class="col-lg-4">
		              <div class="alert alert-dismissable alert-primary">
		                <h4><span class="glyphicon glyphicon-ok"> Учебные классы</span></h4>
		                <ul>
		                	<li>15 классов для занятий</li>
		                	<li>в каждом до 15 студентов</li>
								<li>мультимедия</li>
		                </ul>
		              </div>
		          </div>
			    </div>       
       	</div>
       </div>
    	 <div class="panel panel-default">
       	<div class="panel-heading">
       		<span class="glyphicon glyphicon-book"> </span> Курсы
       	</div>
       	<div class="scrolled">
	         <table class="table panel-grey">
		        <tbody>
		          <tr>
		          	<td>1</td>
		            <td>Стандартные групповые курсы английского</td>
		            <td>20 занятий в неделю</td>
		            <td>от €100 за 1 неделю</td>
		            <td><%= link_to "Подробнее", "", :class=>"btn btn-info btn-sm" %></td>
		          </tr>
		          <tr>
		          	<td>2</td>
		            <td>Стандартные групповые курсы английского</td>
		            <td>20 занятий в неделю</td>
		            <td>от €100 за 1 неделю</td>
		            <td><%= link_to "Подробнее", "", :class=>"btn btn-info btn-sm" %></td>
		          </tr>
		          <tr>
		          	<td>3</td>
		            <td>Стандартные групповые курсы английского</td>
		            <td>20 занятий в неделю</td>
		            <td>от €100 за 1 неделю</td>
		            <td><%= link_to "Подробнее", "", :class=>"btn btn-info btn-sm" %></td>
		          </tr>
		          <tr>
		          	<td>4</td>
		            <td>Стандартные групповые курсы английского</td>
		            <td>20 занятий в неделю</td>
		            <td>от €100 за 1 неделю</td>
		            <td><%= link_to "Подробнее", "", :class=>"btn btn-info btn-sm" %></td>
		          </tr>
		          <tr>
		          	<td>5</td>
		            <td>Стандартные групповые курсы английского</td>
		            <td>20 занятий в неделю</td>
		            <td>от €100 за 1 неделю</td>
		            <td><%= link_to "Подробнее", "", :class=>"btn btn-info btn-sm" %></td>
		          </tr>
		          <tr>
		          	<td>6</td>
		            <td>Стандартные групповые курсы английского</td>
		            <td>20 занятий в неделю</td>
		            <td>от €100 за 1 неделю</td>
		            <td><%= link_to "Подробнее", "", :class=>"btn btn-info btn-sm" %></td>
		          </tr>
		        </tbody>
			    </table>
			 </div>
       </div>
      <div class="panel panel-default">
       	<div class="panel-heading">
       		<span class="glyphicon glyphicon-home"> </span> Проживание</div>
       	       	<div class="scrolled">
	         <table class="table table-hover">
	           <thead>
			        <tr>
			          <th>Название</th>
			          <th>Описание</th>
			          <th>Кол-во недель</th>
			          <th>Стоимость</th>
			          <th></th>
			        </tr>
			     </thead>
		        <tbody>
		          <tr>
		            <td>Резиденция Magenta House</td>
		            <td>Проживание в резиденции в комнате на одного. Без еды</td>
		            <td>
		            	<%= select_tag :language_id, 
	       					options_for_select([ "1 неделя", "2 недели","3 недели", "4 недели" ], "1 неделя"), 
	       					:class=>"selectpicker", :data=>{:style=>"btn-info btn-sm"} %>
		            </td>
		            <td>€100</td>
		            <td><%= link_to "В корзину", "", :class=>"btn btn-info btn-sm" %></td>
		          </tr>
		          <tr>
		            <td>Проживание в семье</td>
		            <td>Комната на двоих. 3-4 питание 14 раз в неделю</td>
		            <td>
		            	<%= select_tag :language_id, 
	       					options_for_select([ "1 неделя", "2 недели","3 недели", "4 недели" ], "1 неделя"), 
	       					:class=>"selectpicker", :data=>{:style=>"btn-info btn-sm"} %>
		            </td>
		            <td>€100</td>
		            <td><%= link_to "В корзину", "", :class=>"btn btn-info btn-sm" %></td>
		          </tr>
		        </tbody>
			    </table>
       	</div>
       </div>
       <div class="panel panel-default">
       	<div class="panel-heading">
				<span class="glyphicon glyphicon-star"> </span> Еще школы</div>
       	<div class="panel-body panel-grey">
       		<div class="row">
			      <div class="col-xs-6 col-md-3">
			        <div class="thumbnail">
			          <div class="thumb-top">ЕС Мальта от €150</div>
				       <%= image_tag "EC_2.jpg", :class=>"img-responsive" %>
				       <%= link_to "Посмотреть", "", :class=>"btn btn-info btn-sm btn-block" %>
				     </div> 
			      </div>
			      <div class="col-xs-6 col-md-3">
			        <div class="thumbnail">
				       <div class="thumb-top">ЕС Мальта от €150</div>
				       <%= image_tag "EC_3.jpg", :class=>"img-responsive" %>
				       <%= link_to "Посмотреть", "", :class=>"btn btn-info btn-sm btn-block" %>
				     </div>  
			      </div>
			      <div class="col-xs-6 col-md-3">
			        <div class="thumbnail">
				        <div class="thumb-top">ЕС Мальта от €150</div>
				       <%= image_tag "EC_4.jpg", :class=>"img-responsive" %>
				       <%= link_to "Посмотреть", "", :class=>"btn btn-info btn-sm btn-block" %>
				     </div>  
			      </div>
			      <div class="col-xs-6 col-md-3">
			        <div class="thumbnail">
				       <div class="thumb-top">ЕС Канада от $120</div>
				       <%= image_tag "EC_1.jpg", :class=>"img-responsive" %>
				       <%= link_to "Посмотреть", "", :class=>"btn btn-info btn-sm btn-block" %>
				     </div> 
			      </div>
			    </div>       
       	</div>
       </div>
 	</div>
	<div class="col-lg-3">
       <div class="thumbnail panel-grey video-thumb">
          <%= link_to "" do %>
          	<%= image_tag "EC_4.jpg", :class=>"img-responsive" %>
				<span class="glyphicon glyphicon-play"></span>
          <% end %>
          <div class="caption">
            <!--p><a href="#" class="btn btn-primary" role="button">Button</a> 
            <a href="#" class="btn btn-default" role="button">Button</a></p-->
          </div>
        </div>
		 <button type="button" class="btn btn-success btn-lg btn-block">
			<span class="glyphicon glyphicon-file"></span> Оставить заявку
		 </button>  
	    <button type="button" class="btn btn-warning btn-lg btn-block">
		 	<span class="glyphicon glyphicon-comment"></span> Связаться с нами
		 </button> 
		 <button type="button" class="btn btn-info btn-lg btn-block">
			<span class="glyphicon glyphicon-save"></span> Скачать брошюру
		 </button> 
 	</div> 
 </div>
</div>
  <script type="text/javascript" >
		$('.selectpicker').selectpicker();
 </script>