<div class="nested-fields row marBot2">
	<div class="grid_3">
	<%= f.label :duration, :class=>"field" do %>
		<%= f.text_field :duration, :type=>"text", :placeholder=>"Продолжительность курса" %>
	<% end %>
	<%= f.label :price, :class=>"field" do %>
		<%= f.text_field :price, :type=>"text", :placeholder=>"Стоимость" %>
	<% end %>
	</div>
	<div class="grid_3">
		<div class="form_btns marTop0">
		  <%= link_to_remove_association "Удалить время", f %>
		</div>
	</div>
</div>