
 <div class="row"> 
 	<div class="col-lg-9">
		<div class="panel panel-default">
	       <div class="panel-heading"><h3 class="panel-title">Программа обучения</h3></div>
	       <div class="panel-body panel-grey">
	       	 <div class="row col-lg-6 mar-left-0">
       	 			<div class="well pad-0 panel-grey">
    	 					<h3 class="mar-0" style="text-decoration:underline">Английский на отдыхе/Vocation English</h3>
       	 			</div>
       	 			<div class="well pad-0 panel-grey">
							<p>
								<span class="glyphicon glyphicon-bullhorn"></span> 
								<span style="text-decoration:underline">Язык</span>:								
								<b>Английский</b>
							</p>
							<p>
								<span class="glyphicon glyphicon-time"></span> 
								<span style="text-decoration:underline">Длительность</span>:								
								<b>от 2-х недель</b>
							</p>
							<p>
								<span class="glyphicon glyphicon-calendar"></span> 
								<span style="text-decoration:underline">Начало занятий</span>:								
								<b>каждую неделю</b>
							</p>
							<p>
								<span class="glyphicon glyphicon-user"></span> 
								<span style="text-decoration:underline">Минимальный возраст</span>:							
								<b>16 лет</b>
							</p>
							<p>
								<span class="glyphicon glyphicon-sort-by-attributes"></span> 
								<span style="text-decoration:underline">Минимальный уровень языка</span>: 								
								<b>Элементарный</b>
							</p>
							<p>
								<span class="glyphicon glyphicon-list-alt"></span> 
								<span style="text-decoration:underline">Занятия</span>: 								
								<b>20 занятий в неделю</b>
							</p>
							<p>
								<span class="glyphicon glyphicon-time"></span> 
								<span style="text-decoration:underline">Продолжительность занятий</span>: 								
								<b>45 минут</b>
							</p>
							<p>
								<span class="glyphicon glyphicon-th"></span> 
								<span style="text-decoration:underline">Учеников в группе</span>: 								
								<b>до 15</b>
							</p>
							<p>
								<span class="glyphicon glyphicon-map-marker"></span> 
								<span style="text-decoration:underline">Места</span>: 								
								<b>Великобритания, Ирландия, Австралия, Новая Зеландия, США, Канада</b>
							</p>
       	 			</div>
	       	 </div>
	       	 <div class="row col-lg-6 mar-left-20">
				   	<p><%= image_tag "EC_2.jpg", :class=>"img-responsive" %></p>
				   	<p>
 	 						<span class="glyphicon glyphicon-pencil"></span> 
 	 						<span style="text-decoration:underline">Описание</span>:
 	 						Эта программа языковой школы Каплан разработана таким образом, чтобы помочь вам улучшить ваши 
							знания английского языка, при этом оставляя много свободного времени для осмотра достопримечательностей и 
							развлекательных мероприятий
						</p>	
				 </div>
	       	 <div class="row col-lg-12">
	       	 		<div class="well panel-grey">  	       	 		
	       	 		</div>     	 
	       	 </div>
	       </div>
	    </div>
	    <div class="panel panel-default">
       	<div class="panel-heading">
				<span class="glyphicon glyphicon-star"> </span> Особенности</div>
       	<div class="panel-body panel-grey">
       		<div class="row">
					 <div class="col-lg-4">
		              <div class="alert alert-dismissable alert-warning">
		                <h4><span class="glyphicon glyphicon-ok"></span> Начало обучения</h4>
		                <ul>
		                	<li>Каждую неделю</li>
		                </ul>
		              </div>
		          </div>
		          <div class="col-lg-4">
		              <div class="alert alert-dismissable alert-success">
		                <h4><span class="glyphicon glyphicon-ok"> Развлечения</span></h4>
		                <ul>
		                	<li>Экскурсии</li>
		                	<li>Театры и музеи</li>
								<li>Вечеринки</li>
		                </ul>
		              </div>
		          </div>
					 <div class="col-lg-4">
		              <div class="alert alert-dismissable alert-info">
		                <h4><span class="glyphicon glyphicon-ok"> Спорт</span></h4>
		                <ul>
		                	<li>занятия в парках</li>
		                	<li>футбол и тенис</li>
								<li>спортзал</li>
		                </ul>
		              </div>
		          </div>
					 <div class="col-lg-4">
		              <div class="alert alert-dismissable alert-danger">
		                <h4><span class="glyphicon glyphicon-ok"> Занятия</span></h4>
		                <ul>
		                	<li>библиотека</li>
		                	<li>книги и журналы</li>
								<li>аудио/видео уроки</li>
		                </ul>
		              </div>
		          </div>
		          <div class="col-lg-4">
		              <div class="alert alert-dismissable alert-primary">
		                <h4><span class="glyphicon glyphicon-ok"> Учебные классы</span></h4>
		                <ul>
		                	<li>15 классов для занятий</li>
		                	<li>в каждом до 15 студентов</li>
								<li>мультимедия</li>
		                </ul>
		              </div>
		          </div>
			    </div>       
       	</div>
       </div>
    	 <div class="panel panel-default">
       	<div class="panel-heading">
       		<span class="glyphicon glyphicon-book"> </span> Курсы
       	</div>
       	<div class="scrolled">
	         <table class="table panel-grey">
		        <tbody>
		          <tr>
		          	<td>1</td>
		            <td>Стандартные групповые курсы английского</td>
		            <td>20 занятий в неделю</td>
		            <td>от €100 за 1 неделю</td>
		            <td><%= link_to "Подробнее", "", :class=>"btn btn-info btn-sm" %></td>
		          </tr>
		          <tr>
		          	<td>2</td>
		            <td>Стандартные групповые курсы английского</td>
		            <td>20 занятий в неделю</td>
		            <td>от €100 за 1 неделю</td>
		            <td><%= link_to "Подробнее", "", :class=>"btn btn-info btn-sm" %></td>
		          </tr>
		          <tr>
		          	<td>3</td>
		            <td>Стандартные групповые курсы английского</td>
		            <td>20 занятий в неделю</td>
		            <td>от €100 за 1 неделю</td>
		            <td><%= link_to "Подробнее", "", :class=>"btn btn-info btn-sm" %></td>
		          </tr>
		          <tr>
		          	<td>4</td>
		            <td>Стандартные групповые курсы английского</td>
		            <td>20 занятий в неделю</td>
		            <td>от €100 за 1 неделю</td>
		            <td><%= link_to "Подробнее", "", :class=>"btn btn-info btn-sm" %></td>
		          </tr>
		          <tr>
		          	<td>5</td>
		            <td>Стандартные групповые курсы английского</td>
		            <td>20 занятий в неделю</td>
		            <td>от €100 за 1 неделю</td>
		            <td><%= link_to "Подробнее", "", :class=>"btn btn-info btn-sm" %></td>
		          </tr>
		          <tr>
		          	<td>6</td>
		            <td>Стандартные групповые курсы английского</td>
		            <td>20 занятий в неделю</td>
		            <td>от €100 за 1 неделю</td>
		            <td><%= link_to "Подробнее", "", :class=>"btn btn-info btn-sm" %></td>
		          </tr>
		        </tbody>
			    </table>
			 </div>
       </div>
       <div class="panel panel-default">
       	<div class="panel-heading">
       		<span class="glyphicon glyphicon-home"> </span> Проживание</div>
       	<div class="panel-body panel-grey">
       	</div>
       </div>
       <div class="panel panel-default">
       	<div class="panel-heading">
				<span class="glyphicon glyphicon-star"> </span> Вы недавно смотрели</div>
       	<div class="panel-body panel-grey">
       		<div class="row">
			      <div class="col-xs-6 col-md-3">
			        <div class="well panel-dark-grey">
							dsfdsf					
					  </div> 
			      </div>
			      <div class="col-xs-6 col-md-3">
			        <div class="well panel-dark-grey">
							dsfdsf					
					  </div> 
			      </div>
			      <div class="col-xs-6 col-md-3">
			        <div class="well panel-dark-grey">
							dsfdsf					
					  </div> 
			      </div>
			      <div class="col-xs-6 col-md-3">
			        <div class="well panel-dark-grey">
							dsfdsf					
					  </div> 
			      </div>
			    </div>       
       	</div>
       </div>
 	</div>
	<div class="col-lg-3">
       <div class="thumbnail panel-grey video-thumb">
          <%= link_to "" do %>
          	<%= image_tag "EC_4.jpg", :class=>"img-responsive" %>
				<span class="glyphicon glyphicon-play"></span>
          <% end %>
          <div class="caption">
            <!--p><a href="#" class="btn btn-primary" role="button">Button</a> 
            <a href="#" class="btn btn-default" role="button">Button</a></p-->
          </div>
        </div>
		 <button type="button" class="btn btn-success btn-lg btn-block">
			<span class="glyphicon glyphicon-file"></span> Оставить заявку
		 </button>  
	    <button type="button" class="btn btn-warning btn-lg btn-block">
		 	<span class="glyphicon glyphicon-comment"></span> Связаться с нами
		 </button> 
		 <button type="button" class="btn btn-info btn-lg btn-block">
			<span class="glyphicon glyphicon-save"></span> Скачать брошюру
		 </button> 
	     
 	</div> 
 </div>