<!DOCTYPE html>
<html>
<head>
  <title>Academica4you</title>
  <%= favicon_link_tag(source='favicon.png', :rel=>"shortcut icon", :type=>"image/x-icon") %>
  <%= favicon_link_tag(source='favicon.png', :rel=>"icon", :type=>"image/x-icon") %>
  <meta name="description" content=""/>
  
  <meta name="keywords" content=""/>
  <meta name="document-state" content="Dynamic" />
  <meta name="robots" content="all" />
  <meta http-equiv="content-language" content="ru" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main-container">
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">           
            <span class="sr-only">Academica4you</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
          <span class="glyphicon glyphicon-globe"> </span>
          	Academica4you
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Главная</a></li>
            <li><a href="#">Поиск курсов</a></li>
            <li><a href="#">Все школы</a></li>
            <li><a href="#">Визовая поддержка</a></li>
             <li><a href="#">Как мы работаем</a></li>
          </ul>
			 <form class="navbar-form navbar-right" role="search">
			   <div class="form-group">
			     <input type="text" class="form-control" placeholder="Поиск курсов">
			   </div>
			   <button type="submit" class="btn btn-info">
					<span class="glyphicon glyphicon-search"></span>			   
			   </button>
			 </form>
        </div>
      </div>
    </div>
    

	<div id="body-container">
      <!-- Example row of columns -->

        <%= yield %>
   </div>
  <div id="footer-container" class="panel-footer">
  		<p>© Company 2014</p>
  </div>
  </div>
</body>
 <script type="text/javascript" >
		$('.selectpicker').selectpicker();
 </script>
</html>